#Archivos y capas generados por python
_pucache_/
*.pyc
*.pyo
*pyd

#Capa de entorno virtial de python
venv/
env/

#Capa de dependencias de python
lib/
libs/
dist/
build/
*.egg-info/

#Archivos de registro y salida
*.log
*.pot
