argcomplete        
autopep8           
commitizen          
fastapi            
Mako               
pip                
postgres           
psycopg2-binary    
psycopg2-pool      
pycodestyle        
pydantic           
pytest             
python-dotenv      
result             
SQLAlchemy         
uuid7              
uvicorn 