name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Docker
      run: |
        brew install docker
        docker --version

    - name: Build and start containers using docker-compose
      run: |
        docker-compose -f docker-compose.yml up --build -d

    - name: Run tests with pytest
      run: |
        docker-compose exec app pytest --maxfail=1 --disable-warnings -v

    - name: Shutdown containers
      run: |
        docker-compose down
