name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Docker and Docker Compose
      run: |
        brew install docker
        docker --version
        # Instalar Docker Compose si no está incluido con la versión de Docker
        curl -L https://github.com/docker/compose/releases/download/v2.17.2/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
        chmod +x /usr/local/bin/docker-compose
        docker-compose --version  # Verifica la instalación de Docker Compose

    - name: Build and start containers using docker-compose
      run: |
        docker-compose -f docker-compose.yml up --build -d

    - name: Run tests with pytest
      run: |
        docker-compose exec app pytest --maxfail=1 --disable-warnings -v

    - name: Shutdown containers
      run: |
        docker-compose down
